<%= form_for @photo, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <label for="photo_file" class="control-label">Arquivo</label>
    <%= f.file_field :file, :class => 'form-control' %>
  </div>

  <% unless @photo.file.blank? %>
    <div class="form-group">
      <%= image_tag @photo.file_url, width: 700 %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
    <%= link_to "Cancelar",
                photos_path, :class => 'btn' %>
  </div>
<% end %>
